<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Random Beer Giphy</title>
  </head>
  <body>
      <p align="center">Here Is Your Random {{ .Svc }}</p>
    <div class="loading">
      <h2><p align="center">{{ .Data }}</p></h2>
    </div>
    <div style="text-align:center;"><img src={{ .Logo }} alt="Smiley face" height="100" width="100"></div>
    <div style="text-align:center;"><a href="https://icanhazdadjoke.com/">Brought To You By: icanhazdadjoke </a></div>
  </body>
</html>