<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Random Dad Joke</title>
  </head>
  <body>
    <div class="loading">
      <p align="center">Here is your {{ .Svc }}!!</p>
          <h2 align="center">{{.Data}} </h2>
    </div>
    <div style="text-align:center;"><img src={{.Logo}} alt="Smiley face" height="100" width="100"></a></div>
    <div style="text-align:center;"><a href="https://icanhazdadjoke.com/">Brought To You By: icanhazdadjoke </a></div>
  </body>
</html>