apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: app-team-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
subjects:
{% for group in admin_groups %}
- kind: Group
  name: "{{ group }}"
  namespace: "{{ ansible_operator_meta.name | lower }}-{{ item.0 }}"
  apiGroup: rbac.authorization.k8s.io
{% endfor %}